@charset "utf-8";

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
-------------------------------------------------------------
@media (min-width: 240px) {
  .img-cpe {
    min-width: 90%;
  }
}

@media (min-width: 490px) {
  .img-cpe  {
    min-width: 90%;
  }
}

@media (min-width: 600px) {
  .img-cpe {
    min-width: 90%;
  }
}

@media (min-width: 800px) {
  .img-cpe {
    min-width: 90%;

  }
}

@media (min-width: 900px) {
  .img-cpe {
    min-width: 90%;

  }
}

@media (min-width: 1000px) {
  .img-cpe {
    min-width: 80%;
  }
}

@media (min-width: 1200px) {
  .img-cpe {
    min-width: 70%;
  }
}

@media (min-width: 1300px) {
  .img-cpe {
    min-width: 60%;
  }
}

@media (min-width: 1600px) {
  .img-cpe {
    min-width: 50%;
  }
}

@media (max-width: 1930px) {
  .img-cpe {
    max-width: 50%;
  }
}
------------------------------------------------------------
@media (min-width: 240px) {
  .img-class {
    min-width: 90%;
  }
}

@media (min-width: 490px) {
  .img-class  {
    min-width: 90%;
  }
}

@media (min-width: 600px) {
  .img-class {
    min-width: 90%;
  }
}

@media (min-width: 800px) {
  .img-class {
    min-width: 90%;

  }
}

@media (min-width: 900px) {
  .img-class {
    min-width: 90%;

  }
}

@media (min-width: 1000px) {
  .img-class {
    min-width: 80%;
  }
}

@media (min-width: 1200px) {
  .img-class {
    min-width: 70%;
  }
}

@media (min-width: 1300px) {
  .img-class {
    min-width: 60%;
  }
}

@media (min-width: 1600px) {
  .img-class {
    min-width: 50%;
  }
}

@media (max-width: 1930px) {
  .img-class {
    max-width: 50%;
  }
}

@media (min-width: 240px) {
  .img-entre {
    min-width: 90%;
  }
}
---------------------------------------------------------------
@media (min-width: 490px) {
  .img-entre  {
    min-width: 90%;
  }
}

@media (min-width: 600px) {
  .img-entre {
    min-width: 90%;
  }
}

@media (min-width: 800px) {
  .img-entre {
    min-width: 90%;

  }
}

@media (min-width: 900px) {
  .img-entre {
    min-width: 90%;

  }
}

@media (min-width: 1000px) {
  .img-entre {
    min-width: 80%;
  }
}

@media (min-width: 1200px) {
  .img-entre {
    min-width: 70%;
  }
}

@media (min-width: 1300px) {
  .img-entre {
    min-width: 60%;
  }
}

@media (min-width: 1600px) {
  .img-entre {
    min-width: 50%;
  }
}

@media (max-width: 1930px) {
  .img-entre {
    max-width: 50%;
  }
}
------------------------------------------------------------------
.img-cpe{
  margin-top: 70px;
  width: 30%;
  border: 2px solid #694d00;
  border-radius: 20PX;
}

.img-fond {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.img-class{
  margin-top: 70px;
  width: 30%;
  border: 2px solid #694d00;
  border-radius: 20PX;
}

.img-entre {
  margin-top: 70px;
  width: 35%;
  border: 2px solid #694d00;
  border-radius: 20PX;
}

.conteneur {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: auto;
  overflow: auto;
}

.conteneur2 {
  margin-block: auto;
  border: 2px solid #00000000;
  text-align: center;
  align-items: center;
  width: auto;
  overflow: auto;
}

.btn-play {
  margin-top: 250px;
  padding: 30px;
  border: 2px solid #694d00;
  color: white;
  font-family: monospace;
  font-size: xx-large;
  font-weight: bold;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  background: #000000a9;
  text-decoration: none;
  flex-wrap: nowrap;
  align-content: center;
}

.btn1 {
  padding: 20px;
  right: 55%;
  bottom: 15%;
  border: 2px solid #694d00;
  color: white;
  display: flex;
  font-size: x-large;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 12px;
  background: #000000a9;
  text-decoration: none;
}

.btn2 {
  padding: 20px;
  left: 55%;
  bottom: 15%;
  border: 2px solid #694d00;
  color: white;
  display: flex;
  font-size: x-large;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 12px;
  background: #000000a9;
  text-decoration: none;
}

.boite {
  border: 1px solid #694d00;
  height: 1061px;
}

#objet00 {
  margin: auto;
  background-image: url(Image/170189-unis-la_vallee_de_la_mort-macaron-nature-art-7680x4320.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  margin-top: 40px;
  color: rgb(0, 0, 0);
  font-size: xxx-large;
  font-family: monospace;
  text-align: center;
}

h2 {
  margin-top: 80px;
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-family: monospace;
  text-align: center;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: x-large;
  font-family: monospace;
  text-align: right;
  padding-right: 10px;
}

h4 {
  color: rgb(0, 0, 0);
  font-size: large;
  font-family: monospace;
  text-align: center;
}