@charset "utf-8";

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

@media (min-width: 240px) {
  .img-entre {
    min-width: 90%;
  }
}

@media (min-width: 490px) {
  .img-entre {
    min-width: 90%;
  }
}

@media (min-width: 600px) {
  .img-entre {
    min-width: 90%;
  }
}

@media (min-width: 800px) {
  .img-entre {
    min-width: 90%;

  }
}

@media (min-width: 900px) {
  .img-entre {
    min-width: 90%;

  }
}

@media (min-width: 1000px) {
  .img-entre {
    min-width: 80%;
  }
}

@media (min-width: 1200px) {
  .img-entre {
    min-width: 70%;
  }
}

@media (min-width: 1300px) {
  .img-entre {
    min-width: 60%;
  }
}

@media (min-width: 1600px) {
  .img-entre {
    min-width: 50%;
  }
}

@media (max-width: 1930px) {
  .img-entre {
    max-width: 50%;
  }
}

.img-fond {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.img-portail {
  width: 55%;
  border: 2px solid #006e00;
  border-radius: 2%;
}

.img-class {}

.conteneur {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: auto;
  overflow: auto;
}

.conteneur2 {
  margin-block: auto;
  border: 2px solid #00000000;
  text-align: center;
  align-items: center;
  width: auto;
  overflow: auto;
}

.btn-play {
  margin-top: 300px;
  width: 150px;
  height: 100px;
  border: 2px solid #006e00;
  color: white;
  font-family: monospace;
  font-size: xxx-large;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  background: #000000a9;
  text-decoration: none;
  flex-wrap: nowrap;
  align-content: center;
}

.btn1 {
  width: 120px;
  height: 60px;
  right: 55%;
  bottom: 15%;
  border: 2px solid #006e00;
  color: white;
  display: flex;
  font-size: x-large;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 10%;
  background: #000000a9;
  text-decoration: none;
}

.btn2 {
  width: 120px;
  height: 60px;
  left: 55%;
  bottom: 15%;
  border: 2px solid #006e00;
  color: white;
  display: flex;
  font-size: x-large;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 10%;
  background: #000000a9;
  text-decoration: none;
}

.boite {
  border: 1px solid #000000;
  height: 99vh;
}

#objet00 {
  margin: auto;
  background-image: url(Image/104318-foret-ecosysteme-lepinette_sapin_de_la_foret-la_reserve_naturelle_de-attraction_touristique-7680x4320.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  margin-top: 50px;
  color: rgb(0, 0, 0);
  font-size: xxx-large;
  font-family: monospace;
  text-align: center;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-family: monospace;
  text-align: center;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: x-large;
  font-family: monospace;
  text-align: center;
}

h4 {
  color: rgb(0, 0, 0);
  font-size: large;
  font-family: monospace;
  text-align: center;
}